{
  "presets":[
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "~": "./src",
        "~components": "./src/components",
        "~hoc": "./src/hoc",
        "~modules": "./src/modules",
        "~pages": "./src/pages",
        "~util": "./src/util"
      }
    }]
  ]
}