{
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "node": true,
    "commonjs": true,
    "jest": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "16.8.6"
    }
  }
}